<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.sheepfold.dao.DiscountMapper">
    <resultMap id="BaseResultMap" type="com.example.sheepfold.model.Discount">
        <!--
          WARNING - @mbg.generated
        -->
        <constructor>
            <idArg column="DISCOUNT_ID" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ACCOUNT_ID" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="DISCOUNT_TITLE" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="DISCOUNT_START_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="DISCOUNT_END_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="DISCOUNT_TYPE" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="LST_UPD_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="REC_STATUS" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
</mapper>