<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>liongame</title>
    <link href=/static/css/app.6d9107ab5669e175ceb10232f7d2da51.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
<script type=text/javascript src=/static/js/vendor.fb9105aedc5c278498c0.js></script>
<script type=text/javascript src=/static/js/app.13e48cc7ac381420a867.js></script>
</body>
</html>